{% extends 'base.html.twig' %}

{% block title %}Images List{% endblock %}

{% block body %}
    
    <div class="container">
        <h1>Image index</h1>
        <table class="table table-bordered">
            <thead>
                <tr class="table-primary">
                    <th>Title</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for image in images %}
                <tr>
                    <td>{{ image.title }}</td>
                    <td>
                        <a href="{{ path('app_image_show', {'id': image.id}) }}">Show</a>
                        <a href="{{ path('app_image_edit', {'id': image.id}) }}">Edit</a>
                        {{ include('image/_delete_form.html.twig') }}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <a href="{{ path('app_image_new') }}">Generate new image</a>
    </div>
    

{% endblock %}
